@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p,
a {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  img {
  }
  nav {
    input[type="checkbox"]:checked ~ ul {
      height: auto;
    }
    ul {
      width: 100%;
      position: absolute;
      top: 45px;
      right: 0;
      overflow: hidden;
      list-style: none;
      background: #f2f2f2;
      height: 0px;
      transition: height 0.5s ease;
      display: flex;
      flex-flow: column;
      list-style: none;
      li {
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        padding: 3vw;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.main {
  text-align: center;
  img {
    margin: 35px auto 0px auto;
    width: 85vw;
  }
  .search-input-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    border-radius: 27px;
    border: 1px solid #572ee5;

    #searchBox {
      margin-top: 1px;
      /* border-radius: 27px; */
      width: 90vw;
      border: none;
      /* border-bottom: 1px solid grey; */
      height: 3.5em;
      background: none;
      text-decoration: underline;
      outline: none;
      /* margin-bottom: -1px; */
      padding-bottom: -30px;
    }
    a {
      position: absolute;
      top: 13px;
      right: 17px;
    }
    img {
      width: 5vw;
      margin: 0;
    }
    ul {
      list-style: none;
      text-decoration: none;
      /* border: 1px solid #572ee5; */
      border-top: none;
      padding-top: 8px;
      margin-top: -21px;
      /* background: white; */
      z-index: 10;
      position: relative;
      li {
        margin: 2px;
      }
    }
  }
  h4 {
    // margin-top: 30px;
    width: 26ch;
    margin: 30px auto 45px auto;
    line-height: 24px;
  }
}
.slideContainer {
  background-color: #f3f5f8;
  text-align: center;
  padding: 46px 0 0 0;

  .title {
    margin: 0 auto 0 auto;
  }
  p {
    font-size: 16px;
    text-align: center;
    line-height: 23px;
  }
  div {
    display: flex;
    margin: auto 11px;
    background-color: #c4c4c4;
    align-items: center;
    img {
      // width: auto;
      // position: absolute;
      // top: 50%;
      // right: 50%;
    }
  }

  .slider {
    display: flex;
    height: 187px;
    overflow-x: scroll;
  }
}
footer {
  .share {
    text-align: center;
  }
  .copyRights {
    text-align: center;
  }
}

/* ////////////////////////////////////////////// */

.card {
  .imgContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
    img {
      margin: 0;
    }
    .cardBackground {
      background: #572ee5;
      height: 100%;
      width: 100%;
      flex-flow: column;
      justify-content: space-between;
      display: none;
      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li {
          margin: 10px;
          a {
            img {
              width: 32px;
              height: 32px;
              margin: 0;
            }
          }
        }
      }
      .cardTextContainer {
        margin-left: 3vw;
        margin-bottom: 3vw;
        height: fit-content;
        width: fit-content;
        text-align: left;
        .gifTitle {
          color: white;
          margin: 0;
        }
        .userName {
          color: white;
        }
      }
    }
  }
}
.close {
  background: url(../assets/close.svg) no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  margin: 0;
  float: right;
  margin-top: 10vh;
  margin-right: 9vw;
  :hover {
  }
}
.like {
  background: url("../assets/icon-fav.svg");
  width: 32px;
  height: 32px;
  margin: 0;
}
.liked img {
  background: url("../assets/icon-fav-active.svg") no-repeat center;
}
.download {
  background: url("../assets/icon-download.svg");
  width: 32px;
  height: 32px;
  margin: 0;
  :hover {
  }
}
.maximize {
  background: url("../assets/icon-max-normal.svg");
  width: 32px;
  height: 32px;
  margin: 0;
  :hover {
    background: url("../assets/icon-max-hover.svg");
  }
}
.aMaximize:hover img {
  background: url("../assets/icon-max-hover.svg");
}
.aLike:hover img {
  background: url("../assets/icon-fav-hover.svg");
}
.aDownload:hover img {
  background: url("../assets/icon-download-hover.svg");
}
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
#modal.open {
  display: flex;
  flex-flow: column;
  // justify-content: center;
}
#modalContainer {
  width: 80vw;
  margin: auto;
  margin-top: 17vh;
}
.modalHeader {
  display: flex;
  justify-content: flex-end;
}
.card:hover .cardBackground,
.card:active .cardBackground {
  display: flex;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

.burgerCont {
  align-items: center;
  display: flex;
  flex-direction: row;

  #menu-toggle {
    display: none;
  }

  span {
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    height: 4px;
    width: 24px;
    :before {
      top: -8px;
      background-color: black;
      border-radius: 10px;
      display: inline-block;
      height: 4px;
      width: 24px;
    }
  }
}
